@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (max-width: 1607px) {
    .next-generation {
        display: flex;
        flex-direction: column-reverse;
    }
    .desktop {
        position: relative;
        margin-left: 0;
    }
    .mockups {
        margin-top: -80px;
        position: relative;
    }
}

@media (min-width: 1608px) {
    .desktop {
        position: absolute;
        margin-left: 4rem;
    }
    .mockups {
        position: absolute;
    }
} */